$white: #ffffff;
$outline: #a8a8ff;
$btncolor: #d3a8ff;
$btnshadow: #d4a8fffd;
$backcolor: #000000;

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

div {
  display: grid;
}

#App {
  display: grid;
  height: 100vh;
  background-color: $backcolor;
  margin: 0 5px;
  outline-offset: -5px;
  grid-template: {
    columns: 10% 80% 10%;
    rows: 1fr auto 1fr;
  }
}

.main {
  justify-content: space-around;
  align-self: center;
  grid: {
    column: 2 / 3;
    row: 2 / 3;
    auto-rows: 60px;
    template-columns: repeat(auto-fit, 15em);
    }
}

.linkButton {
  & a {
    background-color: transparent;
    border: 2px double $white;
    border-radius: 5px;
    margin: 5px 0;
    line-height: 50px;
    align-self: center;
    text-align: center;
    color: $btncolor;
    text-decoration: none;
    z-index: 2;
    transition: all 0.5s;
    &:hover {
      background-color: rgba(255, 255, 255, .2);
      box-shadow:0px 0px 10px 5px $btncolor;
    }
  }
}

.footer {
  align-self: start;
  justify-self: center;
  grid: {
    column: 2 / 3;
    row: 3 / 4;
  }
  width: 15em;
  color: $white;
}

.background {
  grid: {
    column: 1 / 4;
    row: 1 / 4;
  }
}

/*#ffa8a8
#ffa8d3
#ffa8ff
#d3a8ff
#a8a8ff
#a8d3ff
#a8ffff
#a8ffd3
#a8ffa8
#d3ffa8
#ffffa8
#ffd3a8*/